{
    "timeout": 10,
    "source": {
        "directories": [
            "DataAccess",
            "Controllers"
        ]
    },
    "tmpDir": "./temp",
    "logs": {
        "text": "infection.log",
        "summary": "summary.log"
    },
    "mutators": {
        "@default": true,
        "@function_signature": false
    },
    "testFramework": "phpunit"
}