<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
	<logging>
		<log type="junit" target="build/coverage/phpunit.junit.xml"/>
		<log type="coverage-xml" target="build/coverage/coverage.xml"/>
	</logging>

	<testsuites>
		<testsuite name="dataAccess">
			<directory suffix=".php">tests/DataAccessTest.php</directory>
		</testsuite>

		<testsuite name="controller">
			<directory suffix=".php">tests/ControllerTest.php</directory>
		</testsuite>

	</testsuites>

</phpunit>
